body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.6em;
	background-color: rgb(37, 61, 61);
}

#icon{
	max-width: 120px;
	height: 55px;
	padding: 0px;
	padding-top: 2px;
}

#filtro{
	margin: 20px;
}

img{
	width: 100%;
	height: 100%;
}
footer{
	color: white;
}